:root {
  --color-master-background-dark:    #0D111B;
  --color-master-background:         #0D111B;
  --color-master-background-bright:  #293452;
  --color-master-foreground:         #3A486B;
  --color-master-foreground-bright:  #57678F;
  --color-master-midtone1:           #293452;
  --color-master-midtone2:           #6577A3;
  --color-master-midtone3:           #2C313D;
  --color-master-midtone4:           #3A486B;
  --color-master-midtone5:           #4B597D;
  --color-master-highlight:          #293452;
  --color-master-highlight_hover:    #3A486B;
  --color-master-highlight2:         #98BC37;
  --color-master-warning:            #F75341;

  --color-master-font-foreground:         #3A486B;
  --color-master-font-foreground-bright:  #57678F;
  --color-master-font-background:         #0D111B;
  --color-master-font-background-bright:  #293452;
  --color-master-font-midtone1:           #293452;
  --color-master-font-midtone4:           #3A486B;
  --color-master-font-midtone5:           #4B597D;

  /** These variables are used in some of the gradients */
  --color-master-background_rgb:          0D111B;
  --color-master-background2_rgb:         646A76;
  --color-master-background3_rgb:         2C313D;
  --color-master-background4_rgb:         0D111B;
  --color-master-background5_rgb:         2C313D;
  --color-master-background6_rgb:         464C58;

  --color-master-background-orange:       #646A76;
  --color-master-background-orange2:      #464C58;
  --color-master-background-orange3:      #2C313D;
  --color-master-background-orange4:      #0D111B;

  --color-master-background-orange_rgb:   #100,106,118;
  --color-master-background-orange2_rgb:  #70,76,88;
  --color-master-background-orange3_rgb:  #44,49,61;

  --color-master-foreground_rgb:          58,72,107;
  --color-master-foreground-bright_rgb:   87,103,143;
  --color-master-foreground-bright2_rgb:  87,103,143;

  --color-master-gp-grad-stop1_rgb: 41,52,82;
  --color-master-gp-grad-stop2_rgb: 58,72,107;
  --color-master-gp-grad-stop3_rgb: 75,89,125;

  /* Overriding color of colored toggles */
  --colored-toggles-desktop-main-color: var(--color-master-highlight) !important;
  --colored-toggles-desktop-main-color_hover: var(--color-master-highlight_hover) !important;
  --colored-toggles-desktop-friends-text-color: var(--color-master-font-foreground-bright) !important;

  --skinny-header-icon-color: var(--color-master-font-foreground) !important;
  --skinny-header-icon-hover-color: var(--color-master-font-foreground-bright) !important;
}